/RobotApplication.java
/TestIGTLCommunicator.java
/TestIGTLCommunicatorAndCommDataProvider.java
/TestSimpleStateSequence.java
/TestNewThreadStructure.java
/CopyOfStateMachineApplicationDEPRECATED.java
